/* 全局通用css样式 */
@import './base.css';
@import url('./scrollBar.css');

//夜间模式主题
:root.dark {
  background-color: var(--darkBgc);
  color: var(--darkTxtColor);
}

//白天模式主题
:root {
  background-color: rgb(243 244 246);
}

//全局css变量
:root {
  --bgc: #fff;
  --darkBgc: #141414;
  --txtColor: #000;
  --darkTxtColor: #cfd3dc;
  --darkInputBgc: #2c2c2c;
  --inputBgc: #f2f2f2;
  --listItem-hover: #f9f9f9;
  --borderColor: #eee;
}

:root {
  --themeColor: #b7d9b1;
  --themeColor-light: #f0f9eb;
  --themeColor-lighter: #f0f9eb80;
}

//用于覆盖element-ui的主题色
:root {
  --el-menu-hover-bg-color: transparent;
  --el-menu-hover-text-color: #b7d9b1;
}

//通用css类
.flex-grow {
  flex: 1;
}
.flex-vertical {
  display: flex;
  align-items: center;
}
