//通用css类
.flex-grow {
  flex: 1;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vertical {
  display: flex;
  align-items: center;
}
.flex-horizontal {
  display: flex;
  justify-content: center;
}
.flex-horizontal-between {
  display: flex;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.myInfo h1 {
  line-height: 2.5em;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  font-family: 'dd Regular';
  letter-spacing: 0.05em;
  color: transparent;
  background-image: url('@/assets/images/bg1.webp');
  background-position: 50% 60%;
  background-clip: text;
}
