//通用css类
.flex-grow {
  flex: 1;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-vertical {
  display: flex;
  align-items: center;
}
.flex-horizontal {
  display: flex;
  justify-content: center;
}
.flex-horizontal-between {
  display: flex;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.myInfo h1 {
  display: inline-block;
  font-size: 24px;
  font-weight: 800;
  margin: 20px 0;
}
