html {
  font-size: 16px;
}

@media screen and (max-width: 540px){
  html {
    font-size: 12px;

    .dogPic {
      display: none;
    }
  }
  .body {
    nav.homeNav, .card .el-tag{
      display: none;
    }
  }
  .body .container .mainInfo {
    flex: 0;
  }
}