html {
  font-size: 16px;
}

@media screen and (max-width: 540px){
  html {
    font-size: 12px;

    .dogPic {
      display: none;
    }

    .card .el-tag {
      display: none;
    }
  }
  .body nav.homeNav {
    display: none;
  }
  .body .container .mainInfo {
    flex: 0;
  }
}