html {
  font-size: 16px;
}

@media screen and (max-width: 540px) {
  html {
    font-size: 12px;
  }
  html .dogPic {
    display: none;
  }
  .body nav.homeNav, .body .card .el-tag, .body .el-carousel > ul.el-carousel__indicators {
    display: none;
  }
  .body .container .mainInfo {
    flex: 0;
  }
}
