html {
  font-size: 16px;
}

html .el-carousel > ul.el-carousel__indicators {
  display: none;
}

@media screen and (max-width: 540px) {
  html {
    font-size: 12px;
  }
  html .dogPic {
    display: none;
  }
  .body nav.homeNav, .body .card .el-tag {
    display: none;
  }
  .body .container .mainInfo {
    flex: 0;
  }
}
